@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        background-color: #cabbe9;
        /* border: 1px solid green; */
    }
   .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        max-width: 500px;
        margin: 0 auto;
        background-color: whitesmoke
    }
    .top-header{
        height: 150px;
        background-color: #9c1de7;
        width: 100%;
        border-radius: 0 0 40px 40px;
        display: flex;
        flex-direction: column;
    }
    .input-font-wrap{
        height: 40px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        background-color: #9c1de7;
        position: relative;
        margin: auto 0;
    }
    .top-header input{
        width: 40%;
        border: none;
        border-radius: 8px 0 0 8px;
        text-align: center;
    }
    input:focus{
        outline: none;
    }
    .todo-section{
        margin-top: 20px;
    }
    .todo-section input{
        text-align: center;
        border: none;
    }
    .todo-wrapper{
        background-color: whitesmoke;
    }
    .todo-section{
        width: 80%;
        text-align: center;
        background-color: whitesmoke;
        align-items: center;
    }
    .list-items{
        margin-bottom: 10px;
        border-right: 4px solid #9c1de7;
        border-left: 4px solid #9c1de7;
        word-wrap: break-word;
        /* border-radius: 8px; */
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list-items:last-child{     
        margin-bottom: 0;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    .strike-through{
        text-decoration: line-through;
    }