@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        background-color: #f8f8f8;
    }
   .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        max-width: 650px;
        margin: 0 auto;
        background-color: whitesmoke
    }
    .top-header{
        height: 150px;
        background-color: #351ada;
        width: 100%;
        border-radius: 0 0 40px 40px;
        display: flex;
        flex-direction: column;
    }
    .input-font-wrap{
        height: 40px;
        display: flex;
        justify-content: center;
        background-color: #351ada;
        position: relative;
        margin: auto 0;
    }
    .top-header input{
        width: 50%;
        border: none;
        border-radius: 8px 0 0 8px;
        text-align: center;
    }
    input:focus{
        outline: none;
    }
    .todo-section{
        margin-top: 20px;
    }
    .todo-section input{
        text-align: center;
        border: none;
    }
    .todo-items{
        font-size: 1.16em;
    }
    .todo-wrapper{
        background-color: whitesmoke;
    }
    .todo-section{
        width: 80%;
        text-align: center;
        background-color: whitesmoke;
        align-items: center;
    }
    .list-items{
        margin-bottom: 10px;
        word-wrap: break-word;
        border-left: 5px solid #200ca1;
        border-right: 5px solid #200ca1;
        border-radius: 6px;
        height: 120px;
        display: flex;
        flex-direction: column;
        font-size: 1.12em;
        padding-top: 20px;
        justify-content: space-between;

    }
    .list-items:last-child{     
        margin-bottom: 0;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    .submit-button{
        font-size: 48px;
        display: flex;
        align-items: center; 
        margin: auto 0 ;
        height: 100%;
        border-radius: 0 8px 8px 0;
        padding-left:4px;
        color: #200ca1;
    }
    .strike-through{
        text-decoration: line-through;
    }

    .icon-style{
        margin-right: 15px;
        color: #200ca1;
        font-size: 20px;
        padding-bottom: 15px;
    }